
.contentContainer {
  max-width: 118.5rem;

  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-top: 120px;
}

.introText{
  background-image:linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #FF5C87 58.58%);
  color: transparent;
  display: inline-block;
  font-size: 8.4rem;
  font-weight: 450;
  letter-spacing: -4px;
  line-height: 9.1rem;
  padding: 0 0 8px;
  word-break: break-word;
  -webkit-background-clip: text;
  margin: 0 0 2.4rem;
}

.advertiseText{

  font-size: 1.8rem;
  color: #595959;
  margin: 0 0 3.6rem;
  line-height: 1.6;
}

.rightContainer{
  display: flex;
  justify-content: flex-end;
}

.introImgContainer{
  width: 85%;
  transform: translate(3rem,-5rem);
  margin: 5rem 0 0;

}
.introImg{
  max-width: 100%;
  width: 100%;
  margin-left: 0;
}
