.loginButton {
  background-color: #0a7cff;
  border-color: #0a7cff;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  box-shadow: #5890ff 0 1px 2px;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 12px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #4d4dff;
  border-color: #4d4dff;
}

.forgotPasswordLink{
  color: #0a7cff;
  font-size: 13px;
  line-height: 15px;
  margin-left: 20px;
  text-decoration: underline;

}

.submitContainer{
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.container{


  input{
    margin-bottom: 1.6rem;
    width: 30rem;
    height: 2.4rem;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, .04);
    border: none;
    color: rgba(0,0,0,1);
  }
  input:focus{

    border: 1px solid #0084ff;
    border-radius: 10px;
    outline: none;
  }

  input:focus::placeholder{
    color:rgba(0,0,0,.2);
  }

  input::placeholder{
    color:rgba(0,0,0,.45);
  }
}

.checkBox{

}
.customCheckBox{

}
.checkBoxContainer{
  display: flex;
  align-items: center;
  gap: 12px;
}
.checkBoxExplain{
  font-size: 1.2rem ;
  color: #595959;
}

.checkBox{
  width: 16px;
  height: 16px;
  cursor:pointer
}