.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.logoImg {
  width: 4rem;
  height: 4rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 119.5rem;
  height: 10rem;
  margin: 0 auto;
  position: relative;
  z-index: 10;

}

.scrollBackground {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, .98);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  height: 10rem;
  position: fixed;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.visibleOpacity {
  opacity: 1;

}