.navContainer {

}

.navList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navItem {
  line-height: 5rem;
  font-weight: 500;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 1.5rem;


  a {
    text-decoration: none;
    color: var(--primary-black);
  }
}